*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px 50px ;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clr{
    clear: both;
}
.lineGrident{
    background-image: linear-gradient(to right, #0798bc , #fff);
    width: 100px;
    height: 3px;

}
/* nav */
.nav{
    z-index: 100;
   position: sticky;
   top: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    height: 86px;

    

}
.nav ul{
    list-style: none;
    padding-right: 50px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.nav ul li a:hover{
    border-bottom:1px #0798bc solid;
    color: #0798bc;
}
.nav ul li{
    padding-top: 10px;
    padding-right: 25px;
}
.nav img{
    padding-left: 55px;
}
.navactive{
    color: blue !important;
}
/* end nav */
/* start sec1 */
.section1{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
}
.section1 .overlay{
    background-color: rgba(0, 0, 0, 0.671);
    height: 520px;

}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 520px;


}
.title h1{
    font-size: xx-large;
    margin-bottom: 0px;

}
.titlespan{
    color: #0798bc;
}
.title a{
    text-decoration: none;
    color: #fff;
    border: solid #fff 1px;
    padding: 15px;

}
/* end sec1 */
/* start aboutus */
.aboutus1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.aboutusspan{
    color:#0798bc ;
    font-size: xx-large;
}
.aboutuscont img{
    width: 400px;
}
.aboutuscont h3{
    font-size: x-large;
}
.aboutuscont{
    width: 80%;
    margin: auto;
}
.aboutuscontleft{
    width: 49%;
    padding: 0px;
}
.aboutusconthand{
    padding: 10px 16px 0px 1px;
}
.far{
    color: #0798bc;
}
.aboutuscont a{
    text-decoration: none;
    color: #0798bc;
    border: solid #0798bc 2px;
    padding: 15px;
    position: relative;
    top: 40px;
}
